// ---------------------- Responsive ------------------------
// Laptop large, screen <= 1440px
@mixin lg {
    @media screen and (max-width: 1440px) {
        @content;
    }
}

// Laptop small or tablets large, srceen < 1200px
@mixin md {
    @media screen and (max-width: 1199.98px) {
        @content;
    }
}

// Tablets medium, screen <= 992px
@mixin sm {
    @media  screen and (max-width: 991.98px) {
        @content;
    }
}

// Tablets small or Phone landscape, screen < 768px
@mixin xs {
    @media screen and (max-width: 767.98px) {
        @content;
    }
}

// Phones large, screen < 576px
@mixin xxs {
    @media screen and (max-width: 575.98px) {
        @content;
    }
}

// Phones small, screen < 376px
@mixin xxxs {
    @media screen and (max-width: 375.98px) {
        @content;
    }
}

// Landscape
@mixin landscape {
    @media screen and (orientation: landscape){
        @content;
    }
}

// Portrait
@mixin portrait {
    @media screen and (orientation: portrait) {
        @content;
    }
}

// @media max, min
@mixin maxW($args) {
    @media (max-width: $args) {
        @content;
    }
}

@mixin minW($args) {
    @media (min-width: $args) {
        @content;
    }
}

@mixin maxH($args) {
    @media (max-height: $args) {
        @content;
    }
}

@mixin minH($args) {
    @media (min-height: $args) {
        @content;
    }
}

// ---------------------- Animation | Transition ------------------------
// KeyFrames
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

// Animation
@mixin animation($str) {
    animation: #{$str};
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -o-animation: #{$str};
    -ms-animation: #{$str};
}

// Animation Delay
@mixin animation-delay($str) {
    animation-delay: #{$str};
    -webkit-animation-delay: #{$str};
    -moz-animation-delay: #{$str};
    -o-animation-delay: #{$str};
    -ms-animation-delay: #{$str};
}

// Transition
@mixin transition($args) {
    transition: $args;
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    -ms-transition: $args;
}

// Transition Delay
@mixin transition-delay($args) {
    transition-delay: $args;
    -webkit-transition-delay: $args;
    -moz-transition-delay: $args;
    -o-transition-delay: $args;
    -ms-transition-delay: $args;
}

// ---------------------- Transform ------------------------
// Transform
@mixin transform($agrs) {
    transform: $agrs;
    -webkit-transform: $agrs;
    -moz-transform: $agrs;
    -o-transform: $agrs;
    -ms-transform: $agrs;
}

// Transform Origin
@mixin transform-origin($agrs) {
    transform-origin: $agrs;
    -webkit-transform-origin: $agrs;
    -moz-transform-origin: $agrs;
    -o-transform-origin: $agrs;
    -ms-transform-origin: $agrs;
}

// ------------------------------ Text CSS -----------------------------------
@mixin text($color, $font-family, $font-size, $line-height, $letter-spacing, $text-transform: none) {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
}

// ------------------------------ Middle Object -----------------------------------
@mixin mid($flex: false) {
    @if $flex == false {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
    @else {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// ------------------------------ Middle Img -----------------------------------
@mixin mid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // @include mid;
}

// ------------------------------ Full Screen -----------------------------------
@mixin full-screen($fixed: false) { 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @if $fixed {
        position: fixed;
    }
    @else {
        position: absolute;
    }
}

// ------------------------------ Visible -----------------------------------
@mixin visible($param: 1) {
    @if $param == 1 {
        opacity: 1;
        pointer-events: auto;
    }
    @else {
        opacity: 0;
        pointer-events: none;
    }
}

// ------------------------------ Border Radius -----------------------------------
@mixin border-radius($radius) {
    border-radius: $radius;
    background-clip: padding-box;
}

// ------------------------------ Size Div ----------------------------------------
@mixin size($width, $height, $circle: false) {
    width: $width;
    height: $height;
    @if $circle {
        border-radius: 100%;
    }
}

// ------------------------------ Overt Flow Text Dots -----------------------------
@mixin overflow-text($lines) {
    display: -webkit-inline-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

// ------------------------------ Customize Scroll Bar ------------------------------
@mixin custom-scroll($width, $background-track, $background-thumb, $border-radius) {
    &::-webkit-scrollbar {
        width: $width;
    }
    &::-webkit-scrollbar-track {
        background-color: $background-track;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $background-thumb;
        border-radius: $border-radius;
    }
}


// ------------------------------------------ Absolute Center Direction -----------------------
@mixin mid-abs($direction: "left") {
    position: absolute;
    @if $direction == "left" {
        left: 50%;
        @include transform(translateX(-50%));
    } @else if $direction == "top" {
        top: 50%;
        @include transform(translateY(-50%));
    } @else {
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}

// ------------------------------------------ Button CSS ----------------------------------------
@mixin button-style($width: fit-content, $height, $pd-lr, $border) {
    width: $width;
    height: $height;
    padding: 0 $pd-lr;
    border: $border;
}

// -------------------------- Line CSS (Apply for heading, buttons) -----------------------------
@mixin line-style($width, $height, $color: var(--primary-color)) {
    content: "";
    display: block;
    width: $width;
    height: $height;
    background-color: $color;
}
